ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: purple;
    overflow: hidden;
}

ul.menu li {
    float: left;
}

ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

ul.menu li a:hover {
    background-color: #fffb00;
}

table.menu {
    width: 100%;
    background-color: purple;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

table.menu th {
    text-align: center;
    padding: 14px 20px;

}

table.menu th a {
    color: white;
    text-decoration: none;
    display: block;
    transition: background-color 0.5s;
}

table.menu tr {
    float: left;
}

table.menu tr a:hover {
    background-color: #fffb00;
}