body {
    background-color: #ffffff;
}

h1,
h3,
p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: consolas;
}

.borda {
    border: 1px solid #000;
    padding: 10px;
    border-radius: 8px;
}